.btn-dashed-outline--gray {  
  $gray-1: $gray-500;
  $gray-2: $gray-600;

  @include button-outline-variant($gray-1, color-yiq($gray-1), $gray-1, $gray-2);
  @include border-radius(2rem);

  &.disabled,
  &:disabled {
    border: dashed;
  }

  border-width: 2px !important;

  padding-top: $input-btn-padding-y-lg;
  padding-bottom: $input-btn-padding-y-lg;
}