@font-face{
  font-family:'MuseoSans500';
  src:url('../../assets/fonts/museo-sans-500/a29947fd-0c53-492b-b2f4-399b01153b30.eot?#iefix');
  src:url('../../assets/fonts/museo-sans-500/a29947fd-0c53-492b-b2f4-399b01153b30.eot?#iefix') format('eot'),url('../../assets/fonts/museo-sans-500/d9896899-f08c-4750-a874-a9e10d83c2cb.woff2') format('woff2'),url('../../assets/fonts/museo-sans-500/d42dd843-62b0-4623-8855-d5882512c3c9.woff') format('woff'),url('../../assets/fonts/museo-sans-500/6d532ccb-086c-4000-bab2-5d16862fcf01.ttf') format('truetype');
}

html,
body{
  font-family:'MuseoSans500', Georgia, Serif !important;
}