/* Fontes */
	/* Inicializa */
	@font-face{
		font-family:'MuseoSans500';
		src:url(../_fonts/MuseoSans_500.otf);
	}

	/* Aplica */
	html,body{
		font-family:"MuseoSans500",Georgia,Serif !important;
	}

/* ------------------------------------------------------------------ */
	
/* Links */
	/* Sem atividade */
	a{
		color:#636363 !important;
		font-weight:bold;
	}

	/* Visitado */
	a:visited{
		color:#868E96 !important;
	}

	/* On hover */
	a:hover{
		color:#868E96 !important;
	}

	/* Ativo */
	a:active{
		color:#F7F7F7 !important;
	}

/* ------------------------------------------------------------------ */
	
/* Inputs */
	/* Padrão */
		/* Sem atividade */
		.card-input{
			border:2px solid gray;
			opacity:.5;
			border-radius:30px;
			padding:10px 10px 10px!important;
		}

			/* On hover */
			.card-input:hover{
				cursor:pointer;
			}

	/* Desativados */
		/* Sem atividade */
		.disabled{
			border:2px dashed gray!important;
			color:#909294!important;
			border-radius:30px!important;
			background-color:white!important;
		}

			/* Desativado on hover */
			.disabled:hover{
				pointer-events:none;
				border:1px dashed gray;
			}

	/* Checado */
	.checked{
		border:2px solid #a8a8a8!important;
		opacity:1!important;
		color:#a8a8a8!important;
		cursor:pointer!important;
		background-color:#e2e2e2!important;
	}

/* ------------------------------------------------------------------ */

/* Cabeçalho dos cards */
.card-header h1{
    font-size:30px!important;
    font-weight:bold!important;
}

/* ------------------------------------------------------------------ */

/* Resultados */
	/* Cargos */
	h2.d-inline{
		font-size:18px;
	}

	/* Jogadores */
	p.d-inline{
		color:#A8AAAB;
	}

	/* Barras de info */
	.trans{
		opacity:0;
	}

/* ------------------------------------------------------------------ */

/* Hack para centralizar boostrap verticalmente */
	/* Configura a altura */
	html,body{
		height:100%;
	}

	/* Alinhamento */
	body{
		display:flex;
		align-items:center;
	}

/* ------------------------------------------------------------------ */

/* Botões do final */
	/* Padrão */
	#btnEnd div button{
		border-radius:50px!important;
		border-color:#868E96;
		height:40px;
		font-weight:bold!important;
		font-size:18px!important;
		background-color:#868E96;
	}

		/* On hover */
		#btnEnd div button:hover{
			background-color:#737C85!important;
			border-color:#737C85;
		}

/* ------------------------------------------------------------------ */

/* Esconde cards, evitando conflitos */
.hide{
    display:none;
}

/* ------------------------------------------------------------------ */

/* Help icon */
.help{
	width:18px;
	height:19px;
	font-size:12px;
	padding-left:1px;
	border:1px solid #6D6D6D;
	color:#6D6D6D;
	border-radius:50%;
	position:absolute;
	right:0;
	margin:7px 25px 0 0;
}

.help:hover{
	border:1px solid #978E96;
	color:#978E96;
	cursor:pointer;
}

/* ------------------------------------------------------------------ */

/* Modals */
#modal-body li{
	font-weight:normal !important;
	line-height:45px;
	font-size:14px;
}

.modal-title{
	font-weight:bolder;
	font-size:24px;
	text-align:center !important;
	position:relative !important;
	width:100%;
}

/* ------------------------------------------------------------------ */

/* Zebra Results */
.zebra-dark{
	background-color:#F7F7F7;
	position:relative;
}

.zebra-dark:hover, .zebra-light:hover{
	background-color:#e5e5e5;
}

.zebra-dark, .zebra-light{
	position:relative;
	padding-left:8px;
}

/* ------------------------------------------------------------------ */

/* Copy results */
.copy-icon{
	position:absolute;
	top:3px;
	right:5px;
	width:14px;
	height:14px;
}

.copy-icon:hover{
	cursor:pointer;
	width:16px;
	height:16px;
}

/* ------------------------------------------------------------------ */

/* Best Hosts Modal */
.best-host{
	position:absolute;
	right:50px;
	top:23px;
}

.best-host:hover{
	cursor:pointer;
}

.modal-subtitle{
	font-size:15px;
	font-weight:bolder;
}

/* ------------------------------------------------------------------ */

/* Fix buttons */
.btn-fix{
	color:white !important;
}

.btnCorrige-fix{
	color:white !important;
	border-radius:50px!important;
	border-color:#868E96;
	height:40px;
	font-weight:bold!important;
	font-size:18px!important;
	background-color:#868E96;
}

.btn-fix:hover, .btnCorrige-fix:hover{
	color:white !important;
}

/* ------------------------------------------------------------------ */

/* Fix margin-top bug made by vertically centered hack */
@media screen and (max-width: 575px) {
    #card-2{
		margin-top:160px !important;
    }
	
	#card-4, #card-5{
		margin-top:400px !important;
	}
}

/* Resize font to fit words, without break */
@media screen and (max-width: 766px) {
    h2.d-inline{
		font-size:13px;
	}
	
	p.d-inline{
		font-size:11px;
	}
}

/* ------------------------------------------------------------------ */

/* Estilo para o card-2, quando está inválido*/
.invalidForm1{
	color:red;
	border-color:red;
}

/* ------------------------------------------------------------------ */

/* Estilo para o card-4, quando está inválido*/
.invalidForm2{
	color:red;
}


.invalidForm2::placeholder {
    color: red !important;
    opacity: 1 !important; /* Firefox */
}

.invalidForm2:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: red !important;
}

.invalidForm2::-ms-input-placeholder { /* Microsoft Edge */
   color: red !important;
}


/* ------------------------------------------------------------------ */

/* Corrige altura da box dos cargos extras*/
#extra1, #extra2, #extra3, #extra4, #extra5, #extra6{
	line-height:24px !important;
}